$fa-font-path: '~font-awesome/fonts';
@import "~font-awesome/scss/font-awesome";
@import "~bootstrap/scss/bootstrap";

.background-light {
  min-height: 100vh !important;
  background-color: #f8f9fa;
}
